<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="text-align:center; font-family:arial;">
    <h1>Create a New Card</h1>

    <form action="/cards" method="post">
      <input type="number" name="mana" placeholder="Mana">
      <input type="number" name="attack" placeholder="Attack Power">
      <input type="number" name="health" placeholder="Health">
      <input type="text" name="description" placeholder="Description">
      <button type="submit">Submit</button>
    </form>

    <h3>Your Current List</h3>
    <% for(let i = 0; i < deck.length; i++){ %>
      <div class="" style="display:inline-block; border: 1px black solid; padding:10px; margin:25px; min-width:200px;">
        <p>Mana: <%= deck[i].mana %></p>
        <p>Health: <%= deck[i].health %></p>
        <p>Attack: <%= deck[i].attack %></p>
        <p>Description: <%= deck[i].description %></p>
        <a href="/cards/remove/<%= deck[i].id %>">Remove From List</a>
      </div>
    <% } %>
    <hr>
    <h5>All Cards</h5>
    <% for(let i = 0; i < cards.length; i++){ %>
      <div class="" style="display:inline-block; border: 1px black solid; padding:10px; margin:25px; min-width:200px;">
        <p>Mana: <%= cards[i].mana %></p>
        <p>Health: <%= cards[i].health %></p>
        <p>Attack: <%= cards[i].attack %></p>
        <p>Description: <%= cards[i].description %></p>
        <a href="/cards/add/<%= cards[i].id %>">Add to list</a>
      </div>
    <% } %>
  </body>
</html>
